*.py[co]
.project
.pydevproject
*~
*.db
*.orig
*.DS_Store
.coverage
.tox
*.egg-info/*
docs/_build/*
dist/*
seed
testing
manage.py
db.sqlite3

# Distribution / packaging
bin/
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

env/
.idea
.vscode
